name: Build and Push to Docker Hub

on:
  push:
    branches: [ "main" ] # Se déclenche quand vous modifiez le code

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # Étape pour libérer de l'espace disque (les images CUDA sont énormes)
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # Remplacez 'votre-pseudo' par votre vrai pseudo DockerHub
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/ultimate-rvc-serverless:latest
